
.sep5 {
    height: 5px;
}
.sep10 {
    height: 10px;
}
.sep20 {
    height: 20px;
}
.box {
    padding: 0 15px;
}

.left-content {
    .toolbar .toolbar-input {
        vertical-align: middle;
        position: relative;
        overflow: visible;
        margin: 0;
        padding: 0;
        .icon {
            position: absolute;
            left: 10px;
            top: 4px;
            z-index: 1;
            opacity: 0.5;  /* ~matches placeholder */
        }
        .form-control {
            padding: 3px 4px 1px 24px;
            border-radius: 12px;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.4),
                        0 0 0 7px rgba(109,179,253,0);
    
            &:focus {
                /* something like this was already in place: */
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.4),
                            0 0 0 1px rgba(109,179,253,0.8);
                transition: box-shadow 250ms ease-out;
            }
        }
    }
    .toolbar .btn-group.pull-right {
        margin: 1px;
    }
}

.right-content {
    video {
        width: 70%;
    }
}
