/* Clean */

* {
    padding: 0;
    margin: 0;
}
html,
body,
#root {
    height: 100%;
}

/* Begin Main Structure */

.app,
.app-left-bar,
.app-right-bar {
    height: 100%;
    overflow: auto;
}
.app {
    width: 100%;
    background-color: rgb(227, 227, 227);
}
.app-left-bar {
    width: 32%;
    background-color: rgb(236, 236, 236);
    position: absolute;
    left: 0;
}
.app-right-bar {
    background-color: rgb(227, 227, 227);
    position: absolute;
    left: 32%;
}

.sep5 {
    height: 5px;
}
.sep10 {
    height: 10px;
}
.sep20 {
    height: 20px;
}
.center-block {
    text-align: center;
}
.box {
    padding: 0 15px;
}

/* Begin Search Component */

